.screen {
    background-color: #f8f9fa; /* Fondo claro pastel */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex; /* Flex container */
    justify-content: space-between;
  }
  
  .dataSection, .timeSection {
    display: flex;
    flex-direction: column;
    text-align: left;

  }
  .dataSection{
    width: 65vw;
  }
  .timeSection{width: 20vw; 
background-color: #6ea8e7;}
  .titleBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Espacio entre los boxes */
    background-color: #ff69b4; /* Fondo blanco */
    padding: 2vw 1vh;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 1vw 1vw 0 #000 ;
  }
  
  .titleBox h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .titleBox p, .timeSection p {
    font-size: 1rem;
    margin: 0;

  }
  
  .timeSection, .contactBox{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 1vw 1vw 0 #000 ;
  }
  
  .contactBox{
    background-color: #6fdfbc;
  }
  .timeSection p {
    font-size: 1rem;
    margin-bottom: 5px;
    margin: 0;
  }
  
  .socialIcons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .screen button {
    background-color: #ff69b4; /* Color pastel fluorescente */
    color: white;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .screen button:hover {
    transform: translateY(-3px);
  }
  
  .screen button:active {
    transform: translateY(1px);
  }
  