.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  padding-top: 15vh;
  max-width: 90%;
  margin: auto;
}

.downloadLink {
  display: inline-block;
  background-color: #333;
  /* Azul estándar */
  color: white;
  /* Texto blanco */
  text-align: center;
  text-decoration: none;
  /* Quitar subrayado */
  font-size: 1rem;
  padding: 0.5rem 1rem;
  /* Espaciado interno */
  border-radius: 24px;
  /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.2s ease;
  /* Animaciones suaves */
  font-family: "Barlow Condensed", sans-serif;

}

.downloadLink:hover {
  background-color: #0056b3;
  /* Azul más oscuro en hover */
  transform: scale(1.05);
  /* Efecto de aumento */
}

.downloadLink:active {
  background-color: #003d80;
  /* Azul aún más oscuro al hacer clic */
  transform: scale(0.95);
  /* Efecto de reducción */
}

.header {
  padding: 2vh 5vw;
  width: 75vw;
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #a930ea;
  color: white;
  border-radius: 8px;
  box-shadow: #333 2px 2px 20px;
  gap: 1rem;
  height: 10vh;
}

.header h1 {
  font-family: 'Odibee Sans', sans-serif;
  font-size: 2rem;
  margin: 0;
}

.header button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 45px;
  cursor: pointer;
}

.header button:hover {
  background-color: #0056b3;
}

.column {
  gap: 1rem;
}

.largeBox {
  background-color: #ffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: #333 2px 2px 50px;
  padding: 2vh 5vw;
  width: 75vw;
  justify-self: center;
}

.bigNumber {
  font-family: 'Odibee Sans', sans-serif;
  font-size: 7rem;
  color: #333;
  margin: 0;
}

.description,
.infoBox p,
.labels .labelItem {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
}

.description {
  font-size: 1.3rem;
  color: #666;
}

.infoBox {
  background-color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  line-height: 1.2;
  padding: 2vh 5vw;
  width: 75vw;
  justify-self: center;
  margin-top: 2vh;
  border-radius: 8px;
  box-shadow: #333 2px 2px 50px;
  padding-bottom: 5vh;
}

/* Texto clave más grande */
.infoBox p strong span {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.dataBox p strong span {
  font-size: 2rem;
  color: #333;
  margin: 0;
}

.chartBox {
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: #333 2px 2px 50px;
  padding: 2vh 5vw;
  width: 75vw;
}

.chart {
  position: relative;
  width: 80vw;
  justify-self: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.labelItem {
  width: 35%;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

.dataBox {
  border-radius: 8px;
  box-shadow: #333 2px 2px 50px;
  padding: 2vh 5vw;
  width: 75vw;
}


/* Layout de tres columnas para pantallas grandes */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .header {
    grid-column: span 3;
    width: 75vw;
  }

  .dataBox,
  .infoBox,
  .largeBox,
  .chartBox {
    width: 25vw;
    padding: 2vh 1vw;
  }
}