.navbar{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 10vh;
    width: 100vw;
    padding: 1vh 2vw;
    display: flex;
    gap: 1vh;
    z-index: 3000;
    background-color: #ebebeb;
    justify-content: left;
    font-family: 'Odibee Sans';
    color: rgb(65, 65, 65);
}

.title{
  display: flex;
 gap: 3vw;
 padding-left: 5vw;
}

.logo{
    font-size: 1rem;
    color: rgb(65, 65, 65);
    font-size: 1.5rem;
}

.logoimg
{height: 12vh;
  width: 12vh;
  background-size: cover;
  background-position: center;
  background-image: url("https://static.wixstatic.com/media/bd63ad_05184122ecea419dafa9bd970b7dd8e5~mv2.jpg/v1/fill/w_750,h_750,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logo%20final.jpg");
border-radius: 180px;}
.us{
    font-size: 1rem;
    color: rgb(65, 65, 65);
}

  